DISCORD_TOKEN=TWOJ_TOKEN_BOTA_Z_DEVELOPER_PORTAL
CLIENT_ID=TWOJE_CLIENT_ID_Z_DEVELOPER_PORTAL
# GUILD_ID opcjonalne, jeśli chcesz testować komendy tylko na jednym serwerze podczas devu
# GUILD_ID=123456789012345678